body {
	font-family: "Arimo", sans-serif!important;	
}

p {
	text-align: center;
	font-size: 20px;
}

.navbar-default {
	margin: 0px;
	background: #FFF!important;
}

h1 {
	text-align: center;
	font-family: "Playfair Display", sans-serif;
	font-weight: 900;
}

h2 {
	text-align: center;
	font-family: "Arimo", sans-serif;
	font-weight: 900;
	font-size: 24px;
}

h3 {
	font-family: "Arimo";
	font-weight: 900;
	text-align: center;
}
li img {
	height: auto;
	width: 25px;
}

a {
	color: #333;
}

a:hover {
	text-decoration: none;
	color: #333
}

.jumbotron {
	background-color: #FFF!important;
	text-align: left;
}

.about {
	font-family: "Arimo", sans-serif;
	font-size: 20px;
	font-weight: 400;
}

.about .container {
	padding-bottom: 50px;
	width: 50%;
}

.project {
	width: 50%;
	margin: 0 auto;
}

.tools {
	font-style: italic;
}

.row {
	margin-bottom: 50px;
}

#portfolio-word {
	font-family: "Arimo";
}
