body {
	font-family: "Gentium Book Basic";
}

h1 {
	position: relative;
		left: 250px;
	font-size: 2.5em;
	font-weight: 400;
	text-transform: uppercase;
}

#quoteDisplay {
	display: block;
	width: 80%;
	margin-right: 10%;
	position: relative;
		left: 250px;
		top: 50px;	
	font-size: 2.3em;
	line-height: 1.3em;
}

#quoteButton {
	position: relative;
		top: 204px;
		left: 50px;
	
}

#tweet {
	position: relative;
		top: 240px;
		left: 50px;
}

.btn {
	position: relative;
		top: 240px;
		left: 52px;
}

a  {
	color: black;
	font-style: italic;
	text-decoration: none;
	padding: 10px;
	border: solid;
}

a:hover {
 cursor:pointer;
}
